# Enable RewriteEngine
RewriteEngine On

# Allow access to static files (CSS, JS, images, etc.)
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirect all other requests to index.html
RewriteRule ^ /index.html [L]