@import "../app/assets/css/transitions.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  --text-color-light-theme: #1e293b;
  --text-color-dark-theme: #f3f4f6;
  --bg-color-light-theme: #f3f4f6;
  --bg-color-dark-theme: #1e293b;
}
html[data-theme="dark"] {
  --text-color: var(--text-color-dark-theme);
  --bg-color: var(--bg-color-dark-theme);
}

html[data-theme="light"] {
  --text-color: var(--text-color-light-theme);
  --bg-color: var(--bg-color-light-theme);
}

html,
body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--bg-color);

  padding: 0;
  margin: 0;
}
h1 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;

  @apply md:text-5xl;
}
h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0 0 0;

  @media screen(lg) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  @media screen(md) {
    font-size: 1.5rem;
  }
}
h4 {
  font-weight: bold;
  font-size: 1rem;

  @media screen(md) {
    font-size: 1.25rem;
  }
}

h5 {
  font-weight: bold;
  font-size: 1rem;
}

p {
  margin-top: 1rem;
  font-size: 1rem;
  @apply md:text-lg;
}

a {
  text-decoration: underline;
}
